name: clang-tidy-review

on:
  pull_request:

jobs:
  clang-tidy-review:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure (CMake)
        run: |
          cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run clang-tidy-review
        uses: ZedThree/clang-tidy-review@v0.21.0
        id: review
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          build_dir: build
